header#header
    div(class=inner)
        a(href="", class="logo")
            span(class="symbol"): img(src="images/logo.svg" alt="")
            span(class="title") Phantom 
        nav
            ul
                li
                    a(href="#menu") menu
        