header#header
    div(class=inner)
        a(href="", class="logo")
            span(class="symbol"): img(src="images/large_electroniccore.png" alt="logo")
            br
            span(class="title") Electronic Core 
        nav
            ul
                li
                    a(href="#menu") menu
        