head
    title Login
    script(src="../assets/css/main.css")
h1 Bienvenidos
form(action="", method="post")
    div(class="usuario_erroneo", display="visibility: none")
        p Contraseña o usuario no es correcto
    input(id="username" type="text", name="username", placeholder="Username" )
    br
    input(type="password", name="password", placeholder="Password" )
    br
    input(id="login_btn" type="submit" value="login" formaction="")
    br
    br
    input(id="signup_btn" type="submit" value="signup" formaction="/signup")
