h1 Bienvenidos
form(action="login", method="post")
    div(class="usuario_erroneo", display="visibility: none")
        p Contraseña o usuario no es correcto
    input(type="text", name="usern", required, placeholder="Username" )
    br
    input(type="password", name="password", required, placeholder="Password" )
    br
    input(type="submit" value="login" formaction="/login")
    br
    br
    input(type="submit" value="signup" formaction="/signup")
