head
    title Login
    script(src="javascripts/main.js")
h1 Bienvenidos
form(action="", method="post")
    div(class="usuario_erroneo", display="visibility: none")
        p Contraseña o usuario no es correcto
    input(type="text", name="usern", required, placeholder="Username" )
    br
    input(type="password", name="password", required, placeholder="Password" )
    br
    input(id="login_btn" type="submit" value="login" formaction="")
    br
    br
    input(id="login_btn" type="submit" value="signup" formaction="/login/signup")
