h1 Bienvenidos
input(type="text", name="usern", required, placeholder="Username" )
br
input(type="password", name="password", required, placeholder="Password" )
br
input(type="submit" value="Log In")
div(class="error")
    p Contrasena o usuario no es correcto