div(id="main")
    div(class="inner")
        header
            h1 Welcome to Electronic core
            p This is the site to use for ordering electronic devices and appliances for purchase and delivery. As a client you have access to all of the following products.
        section(class="tiles" id="section")
            article(class="style1")
                span(class="image")
                    img(src="images/pic01.jpg", alt="")
                a(href="generic")
                    h2 Magna
                    div(class="content")
                        p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
                    
