nav#menu
    h2 Menu
    ul
        li: a(href="") Home
        li: a(href="") Mis Ordenes
        li: a(href="") Restock Producto
        li: a(href="/producto/nuevoproducto") Agregar Nuevo Producto
        li: a(href="") Remover Producto
        li: a(href="") Elements