nav#menu
    h2 Menu
    ul
        li: a(href="/") Home
        li: a(href=`/ordenes/${usuario.username}`) Mis Ordenes
        if admin
            li: a(href="/producto/nuevoproducto") Agregar Nuevo Producto