h1 Guardar Nuevo Producto
form(action="/producto/nuevoproducto" , method="post")
    label Nombre:
    input(id="name" type="text", name="nombre", required)
    br
    label Precio:
    input(id="price" type="text", name="precio", required)
    br
    label Cantidad:
    input(id="quantity" type="text", name="cantidad", required )
    br
    label Tiempo de Entrega
    input(id="delivery_time" type="text", name="tiempo_entrega", required )
    br
    label Descripcion
    input(id="description", type="text", name="descripcion" required )
    br
    label URL de la Imagen del Producto
    input(id="image_url", type="text", name="imagen_url" required )
    br
    input(id="submit_btn" type="submit" value="Guardar Producto" formaction="")